<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <img 
        *ngFor="let card of cards" 
        [src]="card.icon" 
        [alt]="card.name"
        style="max-height:75px"
      >
    </div>
    <div class="col-xs-3">
      <select name="card" id="card">
        <option *ngFor="let card of cards" [value]="card.name">{{ card.name }}</option>
      </select>
      <hr>
      <select name="counters" id="">
        <option value="card.name">countersTo.hard</option>
        <option value="card.name">countersTo.soft</option>
        <option value="card.name">countersThese.hard</option>
        <option value="card.name">countersThese.soft</option>
        <option value="card.name">synergies.hard</option>
        <option value="card.name">synergies.soft</option>
      </select>
      <hr>
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
    <div class="col-xs-3">
      asdasd
    </div>
  </div>
</div>